<link rel="stylesheet" href="/static/css/style.css" type="text/css" />

<div id="container-instructions">

<h2>Welcome to the practice game!</h2>
    <hr />
    <div class="instructions well">

        <p> All games will consist of <b>locations </b> (like the purple star below), <b>objects that you can pick up and drop</b> (like the green pentagon below), and <b>walls </b>that you can't move through (black squares).</p>
        <p> Each game will have <b>multiple possible configurations </b>(like the two below).</p> <br>

                <img src = 'static/img/sandbox1.png' width="300" height=auto hspace="20"/>
                        <img src = 'static/img/sandbox2.png' width="300" height=auto />

        <br>
        <br>
        <br>

        <p>Each game will consist of <b>events that affect your score</b> differently. In this game, the following events affect the score:</p>

        <table class="center">
          <tr>
            <th>Event</th>
            <th>Sample sequence</th>
          </tr>
          <tr>
            <td>**Dropping off the green pentagon at the purple star</td>
            <td><img src = 'static/img/sandbox_dropoff1.png' width="75" height=auto />
            <img src = 'static/img/arrow.png' width="30" height=auto />
            <img src = 'static/img/sandbox_dropoff2.png' width="75" height=auto />
            </td>
          </tr>
          <tr>
            <td>Any action that you take (e.g. moving right), except exit or reset</td>
            <td>
                <img src = 'static/img/right1.png' width="150" height=auto />
            <img src = 'static/img/arrow.png' width="30" height=auto />
            <img src = 'static/img/right2.png' width="150" height=auto />
            </td>
          </tr>
        </table>
<br>
        <p>Also note that each <b> game will end </b> either when you <b>complete the event marked with ** </b>in the table, or <b>exit</b> (to be described in the following pages).</p>
        <!--
        <table class="center">
          <tr>
            <th>Key</th>
            <th>action</th>
          </tr>
          <tr>
            <td>up/down/left/right arrow keys</td>
            <td>corresponding movement</td>
          </tr>
          <tr>
            <td>p</td>
            <td>pick up</td>
          </tr>
          <tr>
            <td>d</td>
            <td>dropoff</td>
          </tr>
          <tr>
            <td>e</td>
            <td>exit</td>
          </tr>
            <tr>
            <td>r</td>
            <td>reset simulation</td>
          </tr>
        </table> -->

    </div>

    <hr />


    <div class="instructionsnav">
        <div class="row">
            <div class="col-xs-2">
                <!-- no previous button on first screen -->
            </div>
            <div class="col-xs-8">
            </div>
            <div class="col-xs-2">
                <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue">
                Next <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
            </div>
        </div>
    </div>

</div>

<script>
</script>